div
{
    text-align: center;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.form-control2{
    height: 35px;
    width: 23px;
}

button.is-info{
    margin: center;
    width: 100px;
}

.input{
    height: 35px solid;
}

div.borde{
    margin: auto;
    width: 1000px;
}

nav.navbar{
    margin: auto;
    width: 250px;
}


div.control{
    width: 250px;
    align-items: center;
    margin: auto;
}

nav.navbar{
    margin: auto;
    width: 250px;
}
div.borde{
    margin: auto;
    width: 1000px;
}

div.borce{
    width: 1000px;
    margin: auto;
    height: 600px;
}

div.box{
    margin: auto;
    width: 1000px;
}