
div.control{
    width: 250px;
    align-items: center;
    margin: auto;
}

nav.navbar{
    margin: auto;
    width: 250px;
}
div.borde{
    margin: 10px;
    border: 3px solid #00d1b2;

}
button.button is-primary{
    margin: center;
    width: 100px;
}

div.borce{
    border: 3px solid #00d1b2;
    width: 1000px;
    margin: auto;
    height: 600px;
    align-items: ;
}

table.table is-bordered{
    border: #00d1b2;
}

/* pruebas
div.derechas{
 margin: 5px;
 border: 3px solid #00d1b2;
 width: 200px;
}
background-color: #00d1b2;

div.borhome{
    border: 3px solid #00d1b2;
    width: 50px;
} */