div.control{
    width: 250px;
    align-items: center;
    margin: auto;
}

nav.navbar{
    margin: auto;
    width: 250px;
}

button.button is-primary{
    margin: center;
    width: 100px;
}

div.borce{
    border: 3px solid Black;
    width: 1000px;
    margin: auto;
    height: 600px;
}

table.table is-bordered{
    border: #00d1b2;
}

p.insc{
    font-size: 40px;
    text-align: center;
}